@import "../../styles/_variables";
@import "../../styles/_extends";

.about {
  height: 100%;
  padding: 8rem 14rem;
  background: rgba(0, 0, 0, 0.75) url("../../assets/images/About.jpg") no-repeat
    center center / cover;
  background-blend-mode: darken;

  .title {
    @extend %section-main-title;
  }

  .block {
    margin: 0 auto;
    padding: 8rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
    background-color: transparent;
    color: $white-color;

    .subtitle,
    .text {
      margin-bottom: 4rem;
    }

    .subtitle {
      text-transform: capitalize;
    }

    .text {
      line-height: 200%;
      text-align: justify;
    }

    .link {
      display: inline-block;
      flex-shrink: 0;
      padding: 1.5rem 3rem;
      font-size: 1.4rem;
      font-weight: 100;
      line-height: 100%;
      text-transform: uppercase;
      letter-spacing: 0.02rem;
      border: 0.1rem solid $white-color;
      transition: all 0.5s ease;
      background-color: transparent;
      color: $white-color;

      &:hover {
        box-shadow: inset 10.2rem 0 0 0 $white-color,
          inset -10.2rem 0 0 0 $white-color;
        background-color: transparent;
        color: $black-color;
      }

      &:active {
        transition: none;
        transform: translateY(0.2rem);
      }
    }
  }
}
