@import "../../styles/_variables";
@import "../../styles/_extends";
@import "../../styles/_mixins";

.about {
  @include flex(nowrap, column, center, center);
  @extend %section-styles;
  background: rgba(0, 0, 0, 0.75) url("../../assets/images/About.jpg") no-repeat
    center center / cover;

  .title {
    @extend %section-main-title;
  }

  .block {
    margin: 0 auto;
    padding: 8rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
    background-color: transparent;
    color: $white-color;

    @media (max-width: 576px) {
      padding: 4rem;
    }

    .subtitle,
    .text {
      margin-bottom: 4rem;
    }

    .subtitle {
      text-transform: capitalize;
    }

    .text {
      line-height: 200%;
      text-align: justify;
    }

    .link {
      @include button(10.2rem, -10.2rem, $black-color, $white-color);
    }
  }
}
