@import "../../styles/_variables";
@import "../../styles/_mixins";

.nav {
  @include flex(nowrap, column, flex-start, inherit);
  margin: 0 -4rem;

  .link {
    @include flex(nowrap, row, flex-start, center);
    padding: 1.5rem 4rem 1.5rem 3.6rem;
    border-left: 0.4rem solid transparent;
    transition: all 0.2s ease-in-out;

    &.active {
      border-left: 0.4rem solid $white-color;
      background-color: $link-background-color-active;
    }

    &:hover {
      &:not(.active) {
        border-left: 0.4rem solid $white-color;
        background-color: $link-background-color-hover;
      }
    }
  }

  .icon {
    @include width-height(2rem, 2rem);
    margin-right: 3rem;
  }

  .text {
    @include text(1.4rem, bold, 1, uppercase);
    color: $white-color;
  }
}
