@import "../../styles/_variables";
@import "../../styles/_mixins";

.info {
  .block {
    @include flex(nowrap, row, flex-start, center);

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    .image {
      @include width-height(3rem, 3rem);
      margin-right: 1.5rem;
    }

    .text {
      @include text(1.4rem, 100, 150%, none);
      word-break: break-word;
      color: $white-color;
    }
  }
}
