@import "../../styles/_variables";

.info {
  .block {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    .image {
      display: block;
      width: 3rem;
      height: 3rem;
      margin-right: 1.5rem;
    }

    .text {
      font-size: 1.4rem;
      font-weight: 100;
      line-height: 1.8rem;
      color: $white-color;
    }
  }
}
