@import "../../styles/_variables";
@import "../../styles/_mixins";

.burger {
  position: absolute;
  top: 3rem;
  left: calc(100% + 3rem);
  width: 2rem;
  cursor: pointer;

  @media (min-width: 993px) {
    display: none;
  }

  .item {
    @include width-height(100%, 0.2rem);
    background-color: $white-color;

    &.itemEnter,
    &.itemExitActive,
    &.itemExitDone {
      transition: transform 300ms;

      &:first-child,
      &:last-child {
        transform: translate(0);
      }

      &:nth-child(2) {
        opacity: 1;
      }
    }

    &.itemEnterActive,
    &.itemEnterDone,
    &.itemExit {
      transition: transform 300ms;

      &:first-child {
        transform: translate(0, 0.7rem) rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: translate(0, -0.7rem) rotate(45deg);
      }
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
