@import "../../styles/_variables";

.user {
  text-align: center;
  color: $white-color;
}

.avatar {
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}

.position {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 150%;
}
