@import "../../styles/_variables";
@import "../../styles/_mixins";

.user {
  text-align: center;
  color: $white-color;

  .avatar {
    @include width-height(10rem, 10rem);
    margin: 0 auto 2rem auto;
    border-radius: 50%;
    object-fit: cover;
  }

  .title {
    text-transform: uppercase;
  }

  .position {
    font-size: 1.2rem;
  }
}
