.language {
  display: flex;
}

.button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: transparent;

  &:not(:last-child) {
    margin-right: 3rem;
  }
}

.icon {
  display: block;
}
