@import "../../styles/_variables";
@import "../../styles/_mixins";

.language {
  position: relative;

  .languageEnter,
  .languageExit {
    opacity: 0;
    transform: scale(0);
  }

  .languageEnterActive {
    opacity: 1;
    transform: scale(1);
  }

  .languageEnter,
  .languageEnterActive,
  .languageExit {
    transition: opacity 300ms, transform 300ms;
  }

  .arrowEnter,
  .arrowExitDone {
    transform: rotate(0);
  }

  .arrowEnterActive,
  .arrowEnterDone,
  .arrowExit {
    transform: rotate(180deg);
  }

  .arrowExitActive {
    transform: rotate(360deg);
  }

  .arrowEnter,
  .arrowEnterActive,
  .arrowExit,
  .arrowExitActive {
    transition: transform 300ms;
  }

  .block {
    .button {
      @include flex(nowrap, row, flex-start, center);

      .wrapper {
        &:first-child {
          @include width-height(2rem, 2rem);
          margin-right: 1rem;
        }

        &:last-child {
          @include width-height(1.2rem, 1.2rem);
        }
      }
    }
  }

  .hidden {
    position: absolute;
    top: auto;
    bottom: calc(100% + 2rem);
    padding: 1rem;
    border-radius: 0.4rem;
    background-color: $link-background-color-active;

    &:before {
      content: "";
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      border: 1rem solid transparent;
      border-top: 1rem solid $link-background-color-active;
    }

    .button {
      @include width-height(2rem, 2rem);

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
