%section-main-title {
  margin-bottom: 8rem;
  text-align: right;
  letter-spacing: 0.5rem;
  opacity: 0.25;

  @media (max-width: 576px) {
    margin-bottom: 4rem;
  }

  @media (max-width: 992px) {
    text-align: left;
  }
}

%section-styles {
  height: 100%;
  padding: 8rem 0;
  background-blend-mode: darken;
}

%block-grid {
  width: calc((100% / 3) - (3rem / 3));

  @media (max-width: 576px) {
    width: 100%;
  }

  @media (min-width: 577px) and (max-width: 1200px) {
    width: calc((100% / 2) - (4rem / 2));
  }
}