$sidebar-background-color: #1a1a1a;
$social-fill-color: #bebebe;
$contact-block-color: #363866;
$link-background-color-hover: #2a2a2a;
$link-background-color-active: #111111;
$form-border-color: #cccccc;
$white-color: #ffffff;
$black-color: #000000;