@import "_fonts";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Public Sans", sans-serif;
}

h1 {
  font-size: 9.6rem;
  text-transform: uppercase;
  color: $white-color;

  @media (max-width: 576px) {
    font-size: 6.4rem;
  }

  @media (min-width: 577px) and (max-width: 1200px) {
    font-size: 7.8rem;
  }
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  line-height: 150%;
}

p {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 150%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 576px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  html {
    font-size: 9px;
  }
}

.swiper-button-disabled {
  opacity: 0.25;
  pointer-events: none;
}
