@import "../../styles/_variables";
@import "../../styles/_extends";
@import "../../styles/_mixins";

.contact {
  @include flex(nowrap, row, center, center);
  @extend %section-styles;
  background: rgba(0, 0, 0, 0.75) url("../../assets/images/Contact.jpg")
    no-repeat center center / cover;

  .title {
    @extend %section-main-title;
  }

  .content {
    color: $white-color;

    .contentTitle {
      margin-bottom: 2rem;
      text-transform: uppercase;
    }

    .wrapper {
      @include flex(wrap, row, flex-start, inherit);
    }

    .block {
      padding: 4rem;
      background-color: $white-color;

      &.blue {
        background-color: $contact-block-color;
      }

      &:first-child {
        width: 40%;
        border-radius: 0.4rem 0 0 0.4rem;

        @media (max-width: 576px) {
          width: 100%;
          border-radius: 0.4rem 0.4rem 0 0;
        }

        @media (min-width: 993px) and (max-width: 1200px) {
          width: 50%;
        }
      }

      &:last-child {
        width: 60%;
        border-radius: 0 0.4rem 0.4rem 0;

        @media (max-width: 576px) {
          width: 100%;
          border-radius: 0 0 0.4rem 0.4rem;
        }

        @media (min-width: 993px) and (max-width: 1200px) {
          width: 50%;
        }
      }

      .blockTitle {
        margin-bottom: 8rem;

        @media (max-width: 576px) {
          margin-bottom: 4rem;
        }

        &.black {
          color: $black-color;
        }
      }
    }
  }
}
