@import "../../styles/_variables";
@import "../../styles/_extends";
@import "../../styles/_mixins";

.home {
  @include flex(nowrap, column, center, flex-start);
  @extend %section-styles;
  background: rgba(0, 0, 0, 0.75) url("../../assets/images/Home.jpg") no-repeat
    center center / cover;

  .title {
    max-width: 67rem;
    margin-bottom: 2rem;
    text-shadow: 0.6rem 0.6rem 0 rgba(0, 0, 0, 0.5);

    @media (max-width: 576px) {
      max-width: 47rem;
    }
  }

  .desc {
    margin-bottom: 4rem;
    color: $white-color;
  }

  .link {
    @include button($black-color, $white-color);
  }
}
