@import "../../styles/_variables";
@import "../../styles/_mixins";

.social {
  display: flex;

  .icon {
    path {
      transition: fill 0.2s ease-in-out;
    }

    &:hover {
      path {
        fill: $social-fill-color;
      }
    }
  }

  .link {
    @include width-height(2rem, 2rem);

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}
