@import "../../styles/_variables";

.social {
  display: flex;

  .icon {
    path {
      transition: fill 0.2s ease-in-out;
    }

    &:hover {
      path {
        fill: $social-fill-color;
      }
    }
  }

  .link {
    display: block;
    width: 2rem;
    height: 2rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}
