@import "../../styles/_variables";
@import "../../styles/_mixins";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  @include flex(nowrap, row, center, center);

  &.modalEnter,
  &.modalExitActive {
    .overlay {
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    .content {
      opacity: 0;
      transform: scale(0);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  }

  &.modalEnterActive {
    .overlay {
      opacity: 1;
    }

    .content {
      opacity: 1;
      transform: scale(1);
    }
  }

  .overlay {
    position: fixed;
    z-index: -5;
    @include width-height(100vw, 100vh);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content {
    position: relative;
    max-width: 77rem;
    width: calc(100% - 3rem);

    .button {
      position: absolute;
      top: 2rem;
      right: 2rem;
      background-color: transparent;

      .icon {
        @include width-height(2rem, 2rem);
      }
    }

    .modalInner {
      padding: 4rem;
      border-radius: 0.8rem;
      background-color: $white-color;

      .modalTitle {
        margin-bottom: 2rem;
      }
    }

    .modalWrapper {
      display: flex;

      @media (max-width: 576px) {
        flex-direction: column;
      }

      .modalBlock {
        width: 50%;

        @media (max-width: 576px) {
          width: 100%;
        }

        &:last-child {
          padding: 4rem;
          border-radius: 0 0.8rem 0.8rem 0;
          background-color: $white-color;

          @media (max-width: 576px) {
            border-radius: 0 0 0.8rem 0.8rem;
          }
        }

        .modalImage {
          @include width-height(100%, 100%);
          border-radius: 0.8rem 0 0 0.8rem;
          object-fit: cover;

          @media (max-width: 576px) {
            border-radius: 0.8rem 0.8rem 0 0;
          }
        }

        .modalTitle {
          margin-bottom: 2rem;
          text-transform: uppercase;
        }

        .modalDesc {
          margin-bottom: 2rem;
          @include text(1.4rem, 100, 150%, none);
        }

        .modalList {
          list-style-type: disc;
          margin-bottom: 2rem;
          padding-left: 1.5rem;

          .modalListItem {
            @include text(1.4rem, 300, 150%, none);
          }
        }

        .modalLink {
          @include button($white-color, $black-color);
        }
      }
    }
  }
}
