@import "../../styles/variables";

.noMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  .title {
    max-width: 47rem;
    margin: 0 auto 2rem auto;
    font-size: 7.8rem;
    font-weight: 900;
    line-height: 125%;
    text-transform: capitalize;
    color: $black-color;
  }

  .text {
    max-width: 52rem;
    margin: 0 auto 3rem auto;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 150%;
  }

  .link {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    border: 0.2rem solid $grey-text-color;
    box-shadow: rgba(240, 46, 170, 0.4) 0.5rem 0.5rem,
      rgba(240, 46, 170, 0.3) 1rem 1rem, rgba(240, 46, 170, 0.2) 1.5rem 1.5rem,
      rgba(240, 46, 170, 0.1) 2rem 2rem, rgba(240, 46, 170, 0.05) 2.5rem 2.5rem;
    transition: all 0.25s ease-in-out;
    background-color: transparent;
    color: $grey-text-color;

    &:hover {
      border: 0.2rem solid transparent;
      background-color: rgba(240, 46, 170, 1);
      color: $white-color;
    }
  }
}
