@import "../../styles/_variables";
@import "../../styles/_mixins";

.form {
  @include flex(wrap, row, space-between, flex-start);

  .field {
    width: calc(50% - 1.5rem);
    margin-bottom: 3rem;

    @media (max-width: 1200px) {
      width: 100%;
    }

    &.fullWidth {
      width: 100%;
    }

    .text {
      display: block;
      margin-bottom: 1rem;
      @include text(1.4rem, bold, 1, uppercase);
      color: $black-color;
    }

    .label {
      .input,
      .textarea {
        width: 100%;
        transition: border 0.25s ease;

        &:hover {
          border-bottom: 0.1rem solid $contact-block-color;
        }

        &:focus {
          border: 0.1rem solid $contact-block-color;
        }
      }

      .input,
      .textarea {
        font-family: "Museo Sans", sans-serif;
        @include text(1.4rem, 300, 150%, none);
        padding: 1rem 1.5rem;
        border: 0.1rem solid $form-border-color;
        outline: none;
        background-color: transparent;
        color: $black-color;
      }

      .textarea {
        height: 12rem;
        resize: none;
      }
    }

    .error {
      display: inline-block;
      margin-top: 0.5rem;
      color: $error-color;
    }
  }

  .submit {
    @include button($white-color, $black-color);
  }
}
