@import "../../styles/_variables";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32rem;
  height: 100vh;
  padding: 4rem;
  font-family: "Open Sans", sans-serif;
  background-color: $sidebar-background-color;

  &.sidebarEnter,
  &.sidebarExitActive,
  &.sidebarExitDone {
    @media (max-width: 992px) {
      left: -32rem;
      transition: left 300ms;
    }
  }

  &.sidebarEnterActive,
  &.sidebarEnterDone,
  &.sidebarExit {
    @media (max-width: 992px) {
      left: 0;
      transition: left 300ms;
    }
  }

  @media (max-width: 992px) {
    left: -32rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
