@import "../../styles/_variables";

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32rem;
  height: 100vh;
  padding: 4rem;
  font-family: "Open Sans", sans-serif;
  background-color: $sidebar-background-color;

  @media (max-width: 992px) {
    width: 8rem;
    padding: 3rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
      flex-direction: column-reverse;
    }
  }
}
