@import "../../styles/_variables";
@import "../../styles/_mixins";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  @include flex(nowrap, column, space-between, inherit);
  @include width-height(32rem, 100vh);
  padding: 4rem;
  font-family: "Open Sans", sans-serif;
  background-color: $sidebar-background-color;

  @media (max-width: 576px) {
    width: 28rem;
    left: -28rem;
  }

  @media (min-width: 577px) and (max-width: 992px) {
    left: -32rem;
  }

  &.sidebarEnter,
  &.sidebarEnterActive,
  &.sidebarEnterDone,
  &.sidebarExit,
  &.sidebarExitActive,
  &.sidebarExitDone {
    transition: left 300ms;
  }

  &.sidebarEnter,
  &.sidebarExitActive,
  &.sidebarExitDone {
    @media (max-width: 576px) {
      left: -28rem;
    }

    @media (min-width: 577px) and (max-width: 992px) {
      left: -32rem;
    }
  }

  &.sidebarEnterActive,
  &.sidebarEnterDone,
  &.sidebarExit {
    @media (max-width: 992px) {
      left: 0;
    }
  }

  .wrapper {
    @include flex(nowrap, row, space-between, center);
  }
}
