@import "../../styles/_variables";
@import "../../styles/_extends";

.skills {
  height: 100%;
  padding: 8rem 14rem;
  background: rgba(0, 0, 0, 0.75) url("../../assets/images/Skills.jpg")
    no-repeat fixed center center / cover;
  background-blend-mode: darken;

  .title {
    @extend %section-main-title;
  }

  .content {
    .contentBlock {
      .contentTitle {
        position: relative;
        margin-bottom: calc(8rem + 1rem);
        color: $white-color;

        &:before {
          content: "";
          position: absolute;
          bottom: -1rem;
          width: 4rem;
          height: 0.4rem;
          background-color: $white-color;
        }
      }

      .wrapper {
        display: flex;
        flex-wrap: wrap;
      }

      .block {
        width: calc((100% / 3) - (3rem / 3));
        margin-bottom: 8rem;
        text-align: center;
        color: $white-color;
      }

      .image {
        display: block;
        width: 6rem;
        height: 6rem;
        margin: 0 auto 2rem auto;
      }

      .blockTitle {
        margin-bottom: 2rem;
      }

      .text {
        max-width: 18rem;
        margin: 0 auto;
        font-size: 1.4rem;
      }
    }
  }

  .desc {
    font-size: 1.4rem;
    color: $white-color;
  }
}
