@import "../../styles/_variables";

.skills {
  height: 100%;
  padding: 8rem 14rem;
  background: rgba(0, 0, 0, 0.75) url("../../assets/images/Skills.jpg")
    no-repeat fixed center center / cover;
  background-blend-mode: darken;
}

.title {
  margin-bottom: 8rem;
  text-align: right;
  letter-spacing: 1rem;
  opacity: 0.25;
}

.content {
  margin-bottom: 8rem;
}

.contentTitle {
  position: relative;
  margin-bottom: 9rem;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 2.8rem;
  color: $white-color;

  &:before {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 4rem;
    height: 0.4rem;
    background-color: $white-color;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.block {
  text-align: center;
  color: $white-color;
}

.image {
  width: 6rem;
  height: auto;
  margin-bottom: 2rem;
}

.blockTitle {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

.text {
  max-width: 18rem;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 150%;
}

.desc {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1;
  color: $white-color;
}
