@import "../../styles/_variables";
@import "../../styles/_extends";
@import "../../styles/_mixins";

.skills {
  @include flex(nowrap, column, center, center);
  @extend %section-styles;
  background: rgba(0, 0, 0, 0.75) url("../../assets/images/Skills.jpg")
    no-repeat fixed center center / cover;

  .title {
    @extend %section-main-title;
  }

  .content {
    .contentBlock {
      .contentTitle {
        position: relative;
        margin-bottom: calc(8rem + 1rem);
        color: $white-color;

        @media (max-width: 576px) {
          margin-bottom: calc(4rem + 1rem);
        }

        &:before {
          content: "";
          position: absolute;
          bottom: -1rem;
          @include width-height(4rem, 0.4rem);
          background-color: $white-color;
        }
      }

      .wrapper {
        @include flex(wrap, row, flex-start, flex-start);
      }

      .block {
        @extend %block-grid;
        margin-bottom: 8rem;
        padding: 0 1.5rem;
        text-align: center;
        color: $white-color;

        @media (max-width: 576px) {
          margin-bottom: 4rem;
        }
      }

      .image {
        @include width-height(6rem, 6rem);
        margin: 0 auto 2rem auto;
      }

      .blockTitle {
        margin-bottom: 2rem;
      }

      .text {
        max-width: 18rem;
        margin: 0 auto;
        font-size: 1.4rem;
      }
    }
  }

  .desc {
    font-size: 1.4rem;
    color: $white-color;
  }
}
