@import "../../styles/_variables";
@import "../../styles/_mixins";

.slide {
  position: relative;
  border-radius: calc(1.6rem + 0.2rem);
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.1);

  .header {
    .date {
      position: absolute;
      top: 2rem;
      right: 2rem;
      z-index: 5;
      @include text(1.2rem, 100, 1, none);
      color: $white-color;
    }

    .image {
      max-height: 36rem;
      @include width-height(100%, 100%);
      border-radius: 1.6rem 1.6rem 0 0;
      object-fit: cover;
      filter: brightness(0.5);
    }
  }

  .content {
    position: relative;
    padding: 3rem;
    border-radius: 0 0 1.6rem 1.6rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: $white-color;

    .title {
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }

    .description {
      font-size: 1.4rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .wrapper {
      position: absolute;
      top: -2rem;
      right: 2rem;
      display: flex;

      .button,
      .link {
        background-color: transparent;

        &:not(:last-child) {
          margin-right: 2rem;
        }

        .icon {
          @include width-height(4rem, 4rem);

          path {
            transition: fill 0.2s ease-in-out;
          }

          &:hover {
            path {
              fill: $social-fill-color;
            }
          }
        }
      }
    }
  }
}
