@import "../../styles/_variables";
@import "../../styles/_extends";

.portfolio {
  height: 100%;
  padding: 8rem 14rem;
  background: rgba(0, 0, 0, 0.75) url("../../assets/images/Portfolio.jpg")
    no-repeat center center / cover;
  background-blend-mode: darken;

  .title {
    @extend %section-main-title;
  }
}
